<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Excel导出</title>
<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<style type="text/css">
    * {padding: 10px}
</style>
</head>
<body>
<h2>Excel导出</h2>
<div class='wst-tbar' style="height:50px">
<form method="post" action="{:U('Home/Index/export','','')}" enctype="multipart/form-data">
   <button type="submit" class="btn btn-success glyphicon glyphicon-plus">导出</button>
</form>
</div>
<div class="table-responsive">
   <table class="table table-bordered">
   <thead>
     <tr> <th>姓名</th><th>手机号码</th> <th>性别</th><th>email</th></tr>
   </thead>
   <tbody>
    <volist name="data" key="key" id="vo">
     <tr><td>{$vo['user_name']}</td><td>{$vo['user_phone']}</td><td>{$vo['user_sex']}</td><td>{$vo['user_email']}</td></tr>
    </volist>
   </tbody>
 </table>
</div>
</body>
</html>   